*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
    text-decoration: none;
  }

.main-header-logo :hover {
    opacity: 0.8;
}

.main-header-logo :active {
    opacity: 0.3;
}
.main-navigation {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    background-color: #eeeeee;
  }

.nav-item {
  display: inline-block;
  position: relative;
  margin-right: 50px;
  min-height: 50px;
  width: 100%;

  height: 15px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.nav-item a, .menu-user a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 30px;
  padding-top: 25px;
}

.nav-item a:hover, .menu-user a:hover {
  color: #fb565a;
}

.nav-item a:active, .menu-user a:active {
  color: #a6a6a6;
}

.nav-item-active::before {
  content: "";
  position: absolute;
  background: #fb565a;
  height: 2px;
  width: 100%;
  bottom: -8px;
}

.main-header h1{
  font-size: 55px;
}

li {
  list-style: none;
}

.site-navigation,
.menu-basket {
    text-transform: uppercase;
  }

.site-navigation a,
.basket a {
    color: #ffffff;
  }

.basket a:hover{
    color: #fb565a;
}

.basket a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.basket a:active {
      color: #000000;
      border-bottom: 2px solid  #fb565a;
}

.main-slider,
.main-header{
    background-color: #eeeeee;
  }

.main-slider p,
.products p{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.products h2{
  width: 166px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.projects li{
  opacity: 0.2;
}

.projects li:hover{
  opacity: 1.0;
}

.projects li:active{
  opacity: 0.1;
}

.contacts h3
.price h2{
  width: 192px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}


.container {
  width: 1200px;
  min-height: 20px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing:border-box;
}

.main-header {
  position: relative;
  /* Временно для сетки */
  min-height: 355px;
}

.main-navigation {
  /* Временно для сетки */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header-logo {
  width: 160px;
  height: 65px;
 /* Временно для сетки */
}

.main-navigation-wrapper {
  width: 100%;
  /* Временно для сетки */
  min-height: 20px;
  background-color: #eeeeee;
}

.main-navigation-wrapper,.container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 70px;
}

.nav-item a, .menu-user a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 30px;
  padding-top: 25px;
  min-width: 65px;
}

.menu-basket {
  position: relative;
  padding-left: 40px;
}


.menu-basket::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 7px;
  left: 0;
  background: url("../img/cart-icon.svg");
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 87px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-dot {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 6px;
  background: #ffffff;
  border: 5px solid #ffffff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.slider-dot::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #ffffff;
    border-radius: 50%;
    top: 2px;
    right: 2px;
}

.slider-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}



.main {
  margin-top: 0px;
  position: relative;
  flex-direction:column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.products {
  margin-top: 75px;
  position: relative;
  display: block;
  margin-bottom: 80px;
  width: 1160px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 170px;
}

.product-item {
  width: 300px;
  /* Временно для сетки */
  min-height: 170px;
}

.product-item p {
    display: block;
    margin-bottom: 30px;
  }


.product-item-1 p {
  width: 250px;
  height: 41px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.button {
  font: inherit;
  display:inline-block;
  padding: 10px 30px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}

.button-red {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.slider-item-button:hover, .button-red:hover, .button-form:hover{
  background-color: #e74246;
}

.slider-item-button:focus, .button-red:focus ,.button-form:focus{
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-yellow{
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #efc84a;
  border: none;
}

.button-yellow:hover{
  background-color: #eab534
}

.button-yellow:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}


.button-green {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #00ca74;
  border: none;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:focus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-gray {
  width: 100%;
  min-height: 50px;
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
}

.button-gray:hover {
  background-color: #dfdfdf;
}

.button-gray:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.button-gray:active{
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.product-item-2 p {
  width: 239px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}



.product-item-3 p {
  width: 230px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}



.index-columns {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  background-image: none;
  background-color: transparent;
  margin-bottom: 35px;
}

/*секция о Нас*/

.about {
  display: block;
  width: 650px;
  min-height: 450px;
}

.about h3 {
  width: 650px;
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0px;
  padding-top: 45px;
}

.about p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.about h4 {
  display: block;
  text-transform: uppercase;

  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 16px;
}

.about li {
  width: 361px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
  list-style: none;
}


.about ul {
  display: block;
}

.about-list li {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
}

.about-list li::before {
  content: "";
  top: 12px;
  left: -35px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

/*секция Преимуществ*/

.advantages {
  width: 360px;
  min-height: 315px;
}

.advantages figure {
  margin: 0px;
}

.main-table-title {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 0px;
}

.main-table {
  margin-top: 40px;
}

.main-table-row th {
  font-size: 45px;
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 15px;
  text-align: left;
}

.main-table-row sup {
  font-size: 28px;
}

.projects {
  width: 1160px;
  min-height: 180px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.projects-list {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 48px 30px;
  background-image: none;
  background-color: transparent;
  margin-bottom: 0px;
 }

.projects-item {
  width: 200px;
  min-height: 54px;
}

.map-wrapper {
  width: 100%;
}

.map {
  position: relative;
  left: -10px;
  margin: 0 auto;
  width: 1440px;
  height: 416px;
  background: #e9e5dc;
  background-image: url(../img/map.png);
  background-position: center;
}

.marker {
  box-sizing: border-box;
  position: absolute;
  top: 69px;
  right: 349px;
  display: block;
  background-color: transparent;
  width: 231px;
  height: 190px;
  z-index: 30;
}

.contacts {
  box-sizing: border-box;
  position: absolute;
  top: 54px;
  left: 140px;
  display: block;
  background-color: #ffffff;
  width: 319px;
  height: 308px;
  z-index: 30;
  padding: 40px 50px;
}


.contacts h3{

  margin: 0px;
  padding: 0;
}


.contacts ul{
  width:220px;
  height: 71px;
  margin-top: 23px;
  margin-left: 0px;
  margin-bottom: 37px;
  padding: 0;
}

.contacts li{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}


.contacts li:last-child{
  margin-top: 15px;
  padding: 0;
}

.contacts.button{
  width:219px;
  height: 50px;
  margin-bottom: 47px;
  margin-left: 51px;
  padding: 0;
}

.fillform  {
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  padding: 49px 100px 84px 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fillform p{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  font-weight: bold;
  color: #000000;
}

.fillform label{
  display: block;
}

.text-form{
  width: 360px;
  margin: 0;
  margin-bottom: 10px;
}

.comment-text {
  width: 760px;
  margin: 0;
  margin-bottom: 10px;
}

.fillform h2 {
  width: 100%;
  position: relative;
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.fillform input,textarea {
  box-sizing: border-box;
  width: 360px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  font: inherit;
  border: solid 2px #d7dcde;
  background-color: #ffffff;
}

.fillform textarea {
  width: 760px;
}

.fillform input:hover,textarea:hover {
  border: solid 2px #b4b9bb;
  background-color: #ffffff;
}

.fillform input:focus,textarea:focus {
  border: solid 2px #000000;
  background-color: #ffffff;
}

.close-button {
  position: absolute;
  font-size: 0;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: 0;
  background: none;
  background-image: url("../img/close-cross.svg");
  opacity: 0.3;
}

.close-button:hover {
  border: none;
  opacity: 1;
}

.close-button:focus {
  border: none;
  opacity: 0.1;
}

.button-form{
  position: absolute;
  bottom: 80px;
  background-color: #fb565a;
  width: 260px;
  min-height: 50px;
  border: 0;
}

/*Футер*/

.main-footer  {
  display: flex;
  margin-top: 65px;
  padding-top: 20px;
  background: none;
  min-height: 217px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 75px;
}

footer li a{
  background-color: #e1e1e1;
  width:80px;
  height:80px;
  border-radius:40px;
  display:block;
  margin-right:12px;
  text-align:center;
}

footer li a:hover{
  background-color: #e74246;
}

footer li a:focus{
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

footer img:focus{
  opacity: 0.1;
  object-fit: contain;
  background-color: #d7373b;
}

.footer-social {
  padding: 0;
  width: 265px;
  margin: 69px 139px 69px 0px;
  min-height: 80px;
}

.social-icons{
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: auto;
  padding: 0;
  width: 260px;
  min-height: 100px;
}

.ikon:active{
  opacity: 0.3;
}

.vk-ikon{
  margin: 32px 26px 32px 26px;
}

.fb-ikon{
  margin: 28px 34px 32px 33px;
}

.insta-ikon{
  margin: 29px 26px 29px 27px;
}

.footer-discount {
  margin-top: 78px;
  margin-right: 356px;
  margin-bottom: 76px;
  display: block;
  width: 560px;
  min-height: 100px;
}

.footer-discount h3{
  width: 545px;
  height: 35px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
}

.footer-discount p{
  width: 346px;
  height: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin-top: 12px;
}

/*Сетка внутренней страницы*/

.catalog-title{
  display: block;
  width: 722px;
  height: 43px;
  font-family: Roboto;
  font-size: 55px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  min-height: 245px;
  width: 100%;
  background-color: #eeeeee;
  margin-top: 0;
  padding-top: 80px;
}

.catalog-container{
  width: 1160px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sorting {
  min-height: 30px;
  width: 100%;
  display: block;
  margin-top: 18px;
  margin-bottom: 20px;
}

.sorting h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.sorting li {
  opacity: 0.3;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  list-style: none;
}

.sorting li:first-child {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.sorting h2 {
  margin: 0px;
  margin-right: 14px;
  display: inline-block;
  width: 133px;
}

.sorting ul {
  margin-left: 250px;
  display: inline-block;
  min-width: 300px;
  padding: 0px;
}

.sorting li {
  margin: 0px;
  display: inline-block;
  min-width: 65px;
}

.sorting li:last-child {
  margin: 0px;
  display: inline-block;
  width: 110px;
}

.arrows {
  display: inline-block;
  width: 50px;
  margin-left: 0px;
}


.arrow {
  margin: 0px;
  display: inline-block;
  width: 11px;
  height: 10px;
  object-fit: contain;
  background-color: #ffffff;
  border:none;
}

.side-block {
  display: block;
  width: 261px;
}

.parameters {
  display: block;
  width: 261px;
  margin-top: 30px;
}

.price-slider {
  display: block;
}

.arrow-up {
  object-fit: contain;
  background-color: #ffffff;
  border:none;
  opacity: 0.2;
}

fieldset {
  border: none;
}

.grid ,.features {
  margin-top: 20px;
  display: block;
  width: 261px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  min-height: 81px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.min-price {
  width: 50%;
}

.max-price {
  width: 50%;
}

.max-price input{
  width: 70%;

}

.parameters legend {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.parameters li{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
  list-style: none;
}

/*Секция шаблонов*/

.templates li{
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.works {
  width: 760px;
  display: block;
}

.templates li {
  position: relative;
  margin-top: 0px;
  margin-bottom: 50px;
}

.templates {
  width: 760px;
  padding-top: 50px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.templates li::before {
  content: "";
  opacity: 0.12;
  position: absolute;
  width: 360px;
  height: 40px;
  background: url(../img/browser.svg);
  top: -39px;
}

.templates li:hover::before{
  opacity: 1;
}

.page-selector{
  display: block;
  list-style: none;
  padding-left: 0px

}


.page-number{
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  display: inline-block;
  text-align: center;
  margin: 0px;
  margin-right: 11px;
}

.page-number a{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.page-number:hover{
  background-color: #dfdfdf;
}

.page-number:focus{
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.page-number:active{

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5

}

.page-number:active a{
  opacity: 0.3;
}

.next-page{
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  display: inline-block;
  text-align: center;
  margin: 0px;

}

.next-page a{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.next-page a,.page-number a{
  display: block;
  margin-top: 15px;
  margin-bottom: auto;

}

.next-page:hover{
  background-color: #dfdfdf;
}

.next-page:focus{
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.next-page:active{
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;

}
.next-page:active a{
   opacity: 0.3;
}


